body {
    font-family: Calibri;
    display: flex;
    justify-content: center;
    background: rgb(58, 58, 58);
}
.wrapper {
    background: white;
    width: 60%;
    height: 100vh;

}

span {

    color: rgb(247, 113, 3);
}

h1 {
    color: rgb(70, 73, 204);
    background: grey;
    margin: 15px;
    border: 2px solid black;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 5px;
}

ul {
    font-weight: bold;
}

.Contact {
    color: rgb(17, 0, 255);
}

.Datos {
    color: rgb(172, 157, 157);
    font-size: large;
}

.DatosContacto {
    background-color: aqua;
    width: 250px;
    border-radius: 10px;
    border: solid rgb(0, 80, 73);
    /*display: inline; 
        Pregunta: ¿Por qué el background se hace pequeño y deja las letras fuera cuando pongo el display inline?*/
}

.Imagen {
   /* ->Preguntas:
            # ¿Cómo cuadrar la imagen en la izquierda de los datos de contacto?
   */ 
    width: 150px;
    height: 150px;
    margin: 40px;
    display: inline;
}