body {
    background-color: rgb(79, 216, 216);
}

h1 {
    display: flex;
    justify-content: center;
}
h2 {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
#navContacto {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    border: solid rgb(20, 110, 161);
    border-radius: 20px;
    padding: 0px;
}
.Bcontact {
    padding: 15px;
    padding-inline: 200px;
}
main {
    display: flex;
}
section {
    flex-direction: column;
}
.secArticle {
    background-color: snow;
    border-radius: 5px;
}

article {
    background-color: grey;
    margin: 3px;
    display: flex;
    flex-direction: column;
}

.ButNoticia {
     text-align: right;
     align-self: flex-end;
}