body {
    background-color: rgb(79, 216, 216);
}

h1 {
    display: flex;
    justify-content: center;
}
#navContacto {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    border: solid rgb(20, 110, 161);
    border-radius: 20px;
    padding: 0px;
}
.Bcontact {
    padding: 15px;
    padding-inline: 200px;
}
main {
    display: flex;
}
section {
    flex-direction: column;
}
.secArticle {
    background-color: snow;
    margin: 5px;
    border-radius: 5px;
}

article * {
    padding: 10px;
    background-color: grey;
}
